/* 轮播图样式 */
.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  .fade {
    animation: fade 2s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  /* 人物介绍样式 */
  .characters {
    text-align: center;
    padding: 20px;
  }
  
  .character {
    margin: 20px;
  }
  
  .character img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  