/*清除元素的默认设置，为之后自定义的css样式设计不产生偏差*/
.body{
    margin:0;
    padding:0;
}
/*删除下划线*/
a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*设置超链接未点击时的颜色*/
a:link{
    color:rgb(246, 65, 119) ;
}

/* 鼠标移动到链接上 */
a:hover {
    color: rgb(231, 47, 47)} 
.container{
    /*让div大小和屏幕的宽高一样大小*/
    position:absolute; 
    left:0; top:0; 
    width:100%;
    height:100%; 
    /*设置背景图片*/
    background-image: url(/个人空间/登录背景美图.png);
    background-size: cover;
}
.main{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 居中 */
    
}
.login{
    margin-bottom: 60px;
    text-align: center;
    color:white;
    font-family:"STCaiyun";
    font-size: 68px;
    text-shadow: 0 0 10px rgb(221, 76, 124),0 0 20px rgb(221, 76, 124),0 0 30px rgb(221, 76, 124),0 0 40px  rgb(221, 76, 124);
    /*设置发光效果*/
    
}
.forget{
    font-weight:bolder;
    font-family:"YouYuan";
    font-size: 19px;
    display:block;
    position: absolute;
    left:30px;
    margin-top: 5px;
    
    
}
.content{
    height:320px;
    width:450px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px  azure;/*阴影设置*/
    display: table-cell;
    /* 设置元素的显示类型为表格单元格，使元素按照表格单元格的形式进行布局。 */
    /*垂直居中 */
    vertical-align: middle;
    /*水平居中*/
    text-align: center;
    background-image: linear-gradient(
        to bottom right, 
        rgb(118,75,163),
        rgb(92,103,211)
    );
    /* 从左上到右下对角线进行渐变 */
}
 
/*input框设置*/
input{
    color:rgb(251, 194, 202);/*对在input里面输入的值内容的颜色设置*/
    font-size: 15px;/*input字体大小设置值*/
    outline:none;/*鼠标点击input框，不显示边框颜色*/
    border: 0;
    /* 去掉边框 */
    background: none;
    /* 去掉input里面白色的背景 */
    transition: 0.1s;
    /* 过度动画 */
    border-bottom: 1px solid rgb(199, 191, 219);
    /* 下边框定义 */
}
input:hover{
    border-bottom-color: #c5bfbf;
    
    /* 激活input时，对input下划线的效果 */
}
/*鼠标触碰用户名框，边框颜色改变*/
input::placeholder {
    color: rgb(199, 191, 219);
    /* 对input里面显示的用户名 密码 修改颜色 */
}
#name{
    height: 40px;
    width:230px;
    border-radius: 8px;/*设置边框圆角*/
    border-color: white;/*边框颜色*/
    margin-top: 5px;
    
}
 
#password{
    height: 40px;
    width:230px;
    border-radius: 8px;/*设置边框圆角*/
    margin-top: 20px;/*设置元素的上外边距。*/
    margin-bottom: 25px;/*设置元素的下外边距。*/
    border-color: white;/*边框颜色*/
}
/*鼠标触碰登录，边框颜色改变*/
.button1:hover{
    background-color: rgb(146, 86, 219);/*背景颜色*/
}
.button1{
    height: 40px;
    width: 130px;
    font-size: 17px;
    border-radius: 8px;/*设置边框圆角*/
    background-color:rgba(247, 77, 136, 0.91);/*登录框背景颜色*/
    border-color: rgba(243, 47, 116, 0);;/*边框颜色*/ 
    transition: 0.4s;
}
/*鼠标触碰注册，边框颜色改变*/
.button2:hover{
    background-color:rgb(146, 86, 219);/*背景颜色*/
}
.button2{
    height: 40px;
    width: 130px;
    font-size: 17px;
    font-family:"YouYuan";
    border-radius: 8px;/*设置边框圆角*/
    margin-top: 15px;
    background-color:rgba(247, 77, 136, 0.91);/*注册框背景颜色*/
    border-color: rgba(243, 47, 116, 0);;/*边框颜色*/ 
    transition: 0.4s;
}